{% extends 'base.html' %}

{% block head %}

<title>Music Sheets By Letter</title>
{% assets 'sheets_css' %}
<link rel='stylesheet' type='text/css' href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block body %}

<div class="main-content" id="artist">
    <div id="name">
        {{ artist.name }}
    </div>
    {% for sheet in artist.sheets %}
    <div id='sheets'>
        <a href="/music/sheets/{{ sheet.id }}">
            {{ sheet.title }}
        </a>
    </div>
    {% endfor %}

</div>

{% endblock %}
