{% extends 'base.html' %}

{% block head %}

<title>Music Sheet</title>
{% assets 'sheets_css' %}
<link rel='stylesheet' type='text/css' href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block body %}

<div id='sheet'>
    <div id='sheet-title'>
        {{ music_sheet.title.split('.')[0] }} <br>
        {% if music_sheet.artist %}
        by {{ music_sheet.artist }}
        {% endif %}
    </div>
    <div id='sheet__content'>
        <div id='sheet__author'>
            By {{ music_sheet.author.username }}
        </div>
        <div class="row">
            <div id='sheet__content_value'>
                {{ music_sheet.content }}
            </div>
        </div>
    </div>
    <div class='sheet__load'>
        <a href="/?loaded-sheet={{ music_sheet.title.split('.')[0] }}">
            <button id='load-sheet-btn' class='submit-btn-alt'>
                LOAD SHEET INTO PIANO PLAYER
            </button>
        </a>
    </div>
</div>

<script src="{{ url_for('static', filename = 'js/sheet.js') }}"></script>

{% endblock %}