{% extends 'base.html' %}

{% block head %}

<title>Music Sheet</title>
{% assets 'sheets_css' %}
<link rel='stylesheet' type='text/css' href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block body %}

<div class='music-sheet__sheet-sheet'>
    <div class='music-sheet__sheet-title'>
        {{ music_sheet.title.split('.')[0] }} <br>
        {% if music_sheet.artist %}
        by {{ music_sheet.artist }}
        {% endif %}
    </div>
    <div class='music-sheet__sheet-content'>
        <div class='music-sheet__sheet-author'>
            By {{ music_sheet.author }}
        </div>
        <div class='music-sheet__sheet-content_content'>
            {{ music_sheet.content }}
        </div>
    </div>
    <div class='music-sheet__sheet-load'>
        <a href="/?loaded-sheet={{ music_sheet.title.split('.')[0] }}">
            <button id='load-sheet-btn' class='submit-btn-alt'>
                LOAD SHEET INTO PIANO PLAYER
            </button>
        </a>
    </div>
</div>

<script src="{{ url_for('static', filename = 'js/sheet.js') }}"></script>

{% endblock %}