{% extends 'base.html' %}

{% block head %}

<title>Update Genres</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/music-sheet.css') }}">

{% endblock %}

{% block body %}

    <div class = "update_genres_wrapper">
        <div class = "update_genres">
            <form method = "POST">
                <div class = "update_genres_select">
                    <select name = "update_genres_select">
                        {% for genre in ['Pop', 'Rock', 'Dance', 'Classical', 'Songs from games', 'Songs from movies'] %}
                        <option class="u" value='{{option}}'>{{ u }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class = "button_profile_pic_1" value = "UPDATE_GENRE" type = "SUBMIT">
                    UPDATE
                </button>
            </form>
        </div>
    </div>

{% endblock %}

