{% extends 'base.html' %}

{% assets 'inbox_css' %}
<link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}' />
{% endassets %}

{% block head %}

<title>Inbox</title>

<script>
    const inboxMessages = {{ inbox_messages| tojson }}
    const username = {{ loggedinuser| tojson }}
</script>

{% endblock %}

{% block body %}

<div id='inbox'>
    <div id='inbox-overview'>
        <div class="inbox_compose-message__btn {% if inbox_messages|length > 0 %}inbox-messages-btn{% endif %}">
            <a href="/compose-message">
                <button class="submit-btn-alt">COMPOSE MESSAGE</button>
            </a>
        </div>
        {% for message in inbox_messages %}
        <div class='inbox-message'>
            <div class='inbox-message__avatar'>
                {% if message.avatar %}
                <img src="data:image/{{ avatar_format }};base64,{{ avatar|b64encode }}">
                {% else %}
                <img src="{{ url_for('static', filename = '/images/login-icon.jpg') }}">
                {% endif %}
            </div>
            <div class='inbox-message__msg'>
                <div class='inbox-message__overview'>
                    <div class='inbox-message__sender'>
                        {{ message.author }}
                    </div>
                    <div class='inbox-message__time'>
                        {{ (message.created_at|string)[:10] }}
                    </div>
                </div>
                <div class='inbox-message__msg_content'>
                    {{ message.content[:100] }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id='inbox-message__content-wrapper'>
        <div id='inbox-message__content'>
            <div id='inbox-message__content-title'>
                Welcome, {{ loggedinuser }}
            </div>
            <div id='inbox-message__content-value'>
                {% if inbox_messages|length > 0 %}
                You have messages in your inbox.
                {% else %}
                You have no messages. You should check <a href='/learn-teach'>Learn/Teach</a> page and meet cool people
                there!
                {% endif %}
            </div>
        </div>
        <div id='received'>
            <div id='received__sender'>
                <div class='received__sender_avatar'>
                    <img class='received__sender_avatar_img'>
                </div>
                <div id='received__sender_email'>&nbsp;</div>
            </div>
            <div id='received__receiver'>
                <div class='received__receiver-avatar'>
                    <img class='received__receiver-avatar_img'>
                </div>
                <div id='received__receiver-email'>&nbsp;</div>
            </div>
            <div class='row'>
                <div id='received__content'>
                    <div id='received__content-header'>
                        <div id='received__content-header__sender'>&nbsp;</div>
                        <div id='received__content-header__datetime'>&nbsp;</div>
                    </div>
                    <div id='received__content_content'>&nbsp;</div>
                    <div class='row'>
                        <a id='reply-link' href='/compose-message'>
                            <button id='reply-message-btn'>
                                REPLY
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='static/js/inbox.js'></script>

{% endblock %}
