{% extends 'base.html' %}

{% assets 'profile_css' %}
<link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}' />
{% endassets %}

{% block head %}
<title>{{ loggedinuser }}</title>
{% endblock %}

{% block body1 %}

{% if loggedinuser %}
<div class='check-logged-user__wrapper'>
    <div class='check-logged-user'>
        <span class='{% if isadmin %}logged_in_name_admin{% else %}logged_in_name{% endif %}'>
            {{ loggedinuser }}
        </span>
        <a href='/logout'>Logout</a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block body %}

<div id='profile'>
    <div id='profile-username'>
        {{ loggedinuser }}
        <br><br>
        Member since {{ profilecreated }}
    </div>
        {% if not avatar %}
        <div class='get_avatar'>
            Get avatar
        </div>
        <form enctype='multipart/form-data' method='POST'>
            <label for='profile_picture'>Choose a profile picture:</label>
            <input type='file' id='profile_picture' name='profile_picture' accept='image/png, image/jpeg'>
            <div class='change_profile'>
                <button name='submit' value='GET_AVATAR' class='submit-btn' type='submit'>
                    Get profile picture
                </button>
            </div>
        </form>
        {% else %}
        <div id='profile-avatar-image'>
            {% if avatar %}
            <div class='profile-avatar-image__pic'>
                <img src='data:image/{{ avatar_format }};base64,{{ avatar|b64encode }}'>
            </div>
            {% endif %}
            <form enctype='multipart/form-data' method='POST'>
                <div class='choose-profile-pic'>
                    <label for='profile_picture'>Choose a profile picture:</label>
                    <input type='file' id='change_profile_picture' name='profile_picture'
                        accept='image/png, image/jpeg'>
                </div>
                <button name='submit' value='CHANGE_AVATAR' class='submit-btn' type='submit'>
                    Change profile picture
                </button>
            </form>
        </div>
        {% endif %}
    <div id='profile-inbox'>
        You have {{ inbox_messages|length }} messages in inbox. <br><br>
        <a class='upload-link' href='/inbox'>Inbox</a>
    </div>
    <div id='profile-music'>
        You have submitted {{ music_sheet|length }} music sheets. <br><br>
        <a class='upload-link' href='/upload'>Upload a music sheet now!</a>
    </div>
</div>

{% endblock %}
