{% extends 'base.html' %}

{% assets 'upload_css' %}
<link rel='stylesheet' type='text/css' href="{{ ASSET_URL }}" />
{% endassets %}

{% block head %}

<title>Upload</title>
<link rel='stylesheet' href="{{ url_for('static', filename = '/css/upload.css') }}">

{% endblock %}

{% block body %}

<div class='upload__wrapper'>
    <form enctype='multipart/form-data' method='POST'>
        <div id='upload-music'>
            <div id='upload-music__content'>
                <label for='upload-music'>Choose a music txt file:</label>
                <input type='file' id='upload-music' name='upload-music' accept='.txt'>
            </div>
        </div>
        <div class='submit-btn__wrapper'>
            <button name='submit' value='upload-music' class='submit-btn' type='submit'>
                UPLOAD MUSIC
            </button>
        </div>
    </form>
</div>

{% endblock %}