@import 'includes';

.piano-bg {
    height: 400px;
    background-color: #000;
    background-image: linear-gradient(#000, lightgray);
    margin-bottom: 40px;
}

.piano {
    padding-top: 80px;
    margin-bottom: 40px;
}

.piano-menu-top {
    width: calc(71% + 19px);
    margin-left: 15%;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #000;
    color: #939393;
    text-align: center;
}

.piano-menu-top__content:hover {
    color: #fff;
}

.piano-menu-top__content_keys {
    margin: 1%;
    margin-bottom: 0;
    display: none;
}

.piano-menu-top__content_keys_most_recent_key {
    height: 100px;
    margin-left: 1%;
    color: $darkorange;
    font-size: 24px;
}

.piano-menu-top__content_keys_most_recent_key_top {
    padding: 10px;
    border-bottom: 2px solid $darkorange;
}

.piano-menu-top__content_keys_most_recent_key_bottom {
    padding: 10px;
}

.piano-menu-top__content_keys_all_keys {
    padding: 10px;
}

.piano-menu-top__title {
    padding-bottom: 14px;
    font-size: 23px;
    font-weight: bold;
    color: $darkorange;
}

.piano-menu-bottom {
    width: calc(71% + 19px);
    margin-left: 15%;
    padding-top: 4px;
    background-color: #000;
    @include row;
}

.piano-menu-bottom_item {
    color: #939393;
    text-transform: uppercase;
    margin-inline: 10px;
    cursor: pointer;
    display: flex;

    img {
        margin-top: 4px;
        @include square(17px);
        display: none;
    }

}

.piano-menu-bottom_item_title {
    padding: 4px 0 0 4px;
}

.piano-start__wrapper {
    width: fit-content;
    margin-left: 15%;
    padding: 17px;
    padding-right: 22px;
    background-color: #000;
    @include row;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    .piano-start {
        display: flex;
    }
}

.white-key {
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.white-key__value {
    @include rect(189px, 35px);
    font-family: 'Helvetica', Arial;
    border-left: 0.75px solid #707070;
    border-right: 0.75px solid #707070;
    border-radius: 2px 2px 0px 0px;
    @include row;
}

.white-key__bottom {
    height: 19px;
    background-color: lightgray;
    @include border-bottom-radius(43%);
    border-bottom: 1px solid #000;
}

.black-key {
    position: absolute;
    cursor: pointer;
}

.black-key__value {
    @include rect(115px, 19px);
    background: #313131;
    color: #fff;
    @include row;
}

.black-key__bottom {
    height: 19px;
    background-color: #000;
    @include border-bottom-radius(43%);
}

.white-key__value:hover {
    background-image: linear-gradient(#fff, lightgray);
}

.black-key__value:hover {
    background-color: #000;
}

.piano-label {
    padding-top: 122px;
}

.piano__hints {
    @include padding-y(80px);
    @include row;
}

.piano__hint {
    width: 162px;
    margin-inline: 40px;
    
    img {
        @include square(67px);
        margin-bottom: 18px;
        border-radius: 50%;
    }
}

.piano-info__wrapper {
    @include row-h;
}

#piano-info {
    width: 610px;
    text-align: center;

    #piano-info__title {
        margin-bottom: 14px;
        font-size: 45px;
        font-weight: bold;
    }

    #piano-info__subtitle {
        color: $darkorange;
        font-size: 29px;
        font-weight: bold;
        margin-bottom: 14px;
        padding: 15px 0 40px 0;
    }

    #piano-info__content {
        display: flex;
    }
}

.piano-info__content__column {
    width: 290px;
    margin-inline: 18px;
    margin-bottom: 40px;
}

.piano-info__content__title {
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
}

.piano-info__content__subtitle {
    margin-bottom: 40px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .5px;
    color: #919191;
    line-height: 1.9;
}

.piano-info__content__value::first-letter {
    margin-top: 40px;
    font-size: 70px;
    padding: 14px;
    padding-right: 4px;
    font-weight: bold;
}

.span1 {
    font-weight: bold;
}

.span1,
.span2 {
    color: #000;
}

.span3 {
    color: $darkorange;
    font-weight: bold;
}

.piano-quote__wrapper {
    margin-bottom: 40px;
    background-color: #fff;
    @include row;
}

.piano-quote {
    min-width: 37%;
    margin: 40px;
    padding: 14px;
    text-align: center;
    border: 8px solid #e6e6e6;
}

.piano-quote__content {
    color: #000;
    margin-bottom: 14px;
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
    font-family: PlayfairDisplay;
}

.piano-quote__author {
    line-height: 1.4;
    color: #919191 !important;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 5px;
}

.piano-quote__profession {
    color: #919191;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
}

.quote {
    width: fit-content;
    margin-left: calc(43% + 7px);
    padding-inline: 10px;
    transform: translateY(29px);
    background-color: #fff;
}

.piano_most_active_users {
    margin-right: 70px;
}

.piano_most_active_users_title,
.latest-users__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.most_active_user,
.latest-user {
    margin-bottom: 17px;
}

.most_active_user_info {
    display: flex;
    margin-bottom: 12px;

    img {
        @include square(40px);
    }
}

.most_active_user_info_username {
    padding-top: 7px;
    padding-left: 7px;
}

.loaded-sheet__wrapper {
    min-height: 140px;
    @include row;

    .loaded-sheet__title {
        @include margin-y(70px, 73px);
        text-align: center;
    }

    #loaded-sheet__content {
        max-width: 70%;
    }
}

.latest-users {
    margin-left: 140px;
}

.latest-user {
    display: flex;

    img {
        @include square(40px);
    }

    #username {
        padding-top: 10px;
        padding-left: 7px;
    }
}

#autoplay-loaded-sheet-btn {
    @include margin-y(40px, 0);
}

@media only screen and (max-width: 1500px) {
    .white-key div {
        width: 23px;
    }

    .quote {
        margin-left: calc(42% + 1px);
    }
}

@media only screen and (min-width: 1500px) {
    .piano-menu-top,
    .piano-menu-bottom {
        width: 1369px;
    }
}
