@import '../scss/includes';

#profile {
    min-height: 622px;
    text-align: center;

    #profile-username {
        margin: 80px 0;
    }

    #profile-avatar-image {
        margin-bottom: 40px;
    
        .profile-avatar-image__pic {
            margin-bottom: 40px;
        }

        img {
            @include square(80px);
            border-radius: 50%;
        }
    }

    .get_avatar {
        margin-bottom: 40px;
    }

    .submit-btn {
        @include margin-y(26px, 22px);
    }
}

.choose-profile-pic {
    margin: 40px 0 40px 102px;
}

#profile-music {
    margin-bottom: 40px;
}

#profile-inbox {
    margin: 40px 0;
}
